.FCFS-container{
    margin: 1rem;
}

.FCFS-top{
    display: flex;
    justify-content: space-between;
}

.FCFS-top-left h1{
    font-size: 2.5rem !important;
    font-weight: bold;
    text-align: left;
    background-image: linear-gradient(to bottom, #4C4468, #9787CE);
    background-clip: text;
    color: transparent;
    margin-bottom: 1rem;

}

.FCFS-top-right{
    /* border: 1px solid red; */
    display: flex; 
    justify-content: center;
    /* align-items: center;/ */
    flex-direction: column; 
    /* margin-left: 1rem; */
}

.FCFS-top-right .queue-container{
    border: solid 1px black;
    border-left: none;
}

.FCFS-top-right h4{
    text-align: left;
    background-image: linear-gradient(to bottom, #4C4468, #9787CE);
    background-clip: text;
    color: transparent;
    margin-bottom: 1rem;
    font-weight: bold;
    
}

.timer{
    text-align: left;
    margin-bottom: 1rem;
    background-image: linear-gradient(to bottom, #4C4468, #9787CE);
    background-clip: text;
    color: transparent;
    font-weight: bold;
}

.timer span{
    color: black;
    font-weight: 500;
}

.FCFS-bottom{
    /* border: 1px solid red; */
    margin-top: 3rem;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.FCFS-bottom .gantt-box{
    /* border: 1px solid black; */
}